# Environmental variables
.env

# Virtual environments
.venv
/.venv

# Cache y temps
src/__pycache__/
__pycache__/
*.pyc
.pytest_cache/
.coverage
htmlcov/

# RVE training data
notebooks/RVEs/meshes/*
notebooks/RVEs/strain_histories/*
notebooks/RVEs/data/*
notebooks/RVEs/master_data/*
notebooks/RVEs/wandb/*