# Environmental variables
.env

# Virtual environments
.venv
/.venv

# Cache y temps
src/__pycache__/
__pycache__/
*.pyc
.pytest_cache/
.coverage
htmlcov/

# RVE training data
notebooks/RVE_data_generation/meshes/*
notebooks/RVE_data_generation/strain_histories/*
notebooks/RVE_data_generation/data/*
notebooks/RVE_data_generation/master_data/*